<div class="page-header">
    <h1>Puntos</h1>
</div>

<div class="row">
    {{#if rankingList }}
    <div class="panel panel-default col-md-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Usuario</th>
                <th>Puntos</th>
            </tr>
            </thead>
            <tbody>
            {{#each rankingList}}
                <tr>
                    <td><strong>{{add @index 1}}</strong></td>
                    <td><a href="http://twitch.tv/{{userName}}" target="_blank">{{userName}}</a></td>
                    <td>{{points}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
        <p class="alert alert-info col-md-8">Aún no hay puntos registrados.
            Puedes <a href="/puntos/importar"><strong>importar tus puntos de Revlo</strong></a>
            si tienes un archivo csv.</p>
    {{/if}}

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Apuestas</strong>
            </div>
            <div class="panel-body">
                <form action="/comandos/gamble/guardar" class="form" method="post">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="enabled" id="enableGamble" {{#if gambleEnabled }}checked="checked"{{/if}}>
                            Permitir a los usuarios apostar sus puntos con el comando <strong>!gamble</strong>
                        </label>
                    </div>
                    <div class="form-group col-md-offset-1">
                        <label for="cooldown">¿Qué tan seguido pueden apostar los usuarios?</label>
                        <div class="input-group">
                            <input type="number" class="form-control " name="cooldown" id="cooldown" value="{{#if gambleCooldown }}{{gambleCooldown}}{{else}}0{{/if}}" {{#unless gambleEnabled }}disabled{{/unless}}>
                            <span class="input-group-addon">minutos</span>
                        </div>
                    </div>
                    <input type="hidden" name="command" value="gamble">
                    <button class="btn btn-primary btn-block" type="submit">Guardar cambios</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Importar puntos</strong></div>
            <div class="panel-body">
                <a href="/puntos/importar" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-save"></span> Importar</a>
            </div>
        </div>
    </div>
</div>